{% extends "model-page.html" %}

{% block content %}

        <h2>Agendamentos</h2>
        <a href="novo_evento/">
        <button type="button">Novo Evento</button>
        </a>
        <ul style="font-size: 18px">
            {% for valor in chave %}
            <li>
                <b>Evento:</b> {{ valor.titulo }} - <b>Data:</b> {{ valor.get_data_evento }}
                ( <a href="novo_evento/?id={{ valor.id }}"> Editar</a>
                / <a href="novo_evento/delete/{{ valor.id }}">Excluir</a> )
            </li>
            {% endfor %}
        </ul>

{% endblock %}