{% extends "model-page.html" %}

{% block content %}

    <ul style="font-size: 18px">
        {% for valor in chave %}
            <li>
                <div style={% if valor.get_evento_atrasado %}
                              "color:red"
                            {% elif valor.get_evento_falta_1h %}
                              "color:green"
                            {% endif %}>

                            <b>{{ valor.titulo }}</b> - Data: {{ valor.get_data_evento }}

                                <a href="novo_evento/?id={{ valor.id }}">
                                    <button type="button" class="btn btn-warning">ALTERAR</button>
                                </a>
                                <a href="novo_evento/delete/{{ valor.id }}">
                                    <button type="button" class="btn btn-danger">APAGAR</button>
                                </a>
                                <p></p>

                </div>
            </li>
        {% endfor %}
    </ul>

    <a href="novo_evento/">
        <button type="button" class="btn btn-success">AGENDAR EVENTO</button>
    </a>

    <a href="eventos_passado">
        <button type="button" class="btn btn-secondary">LISTAR HISTÓRICO</button>
    </a>

{% endblock %}