{% extends "model-page.html" %}

{% block content %}

        <h2>Histórico de Eventos</h2>
        <a href="novo_evento/">
        <button type="button">Novo Evento</button>
        </a>
        <a href="/">
            <button type="button">Listar Eventos</button>
        </a>
        <ul style="font-size: 18px">
            {% for valor in chave %}
            <li>
                <div style={% if valor.get_evento_atrasado %}
                              "color:red"
                            {% endif %}>
                    <b>Evento:</b> {{ valor.titulo }} - <b>Data:</b> {{ valor.get_data_evento }}
                    ( <a href="../novo_evento/?id={{ valor.id }}"> Editar</a>
                    / <a href="../novo_evento/delete/{{ valor.id }}">Excluir</a> )
                </div>
            </li>
            {% endfor %}
        </ul>

{% endblock %}